@charset "UTF-8";
/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* Media queries */
/* Cross browser transition */
/* Cross browser transform */
/* Transform origin (because vendor prefixes) */
/* Cross browser border-radius */
/* Mouse and tactil gestures */
/* Size (square by default) */
/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts and pages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Media
 *    12.1 - Captions
 *    12.2 - Galleries
 * 13.0 - Multisite
 * 14.0 - Media Queries
 *    14.1 - >= 710px
 *    14.2 - >= 783px
 *    14.3 - >= 910px
 *    14.4 - >= 985px
 *    14.5 - >= 1200px
 * 15.0 - Print
 */
/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
/* line 44, scss/_wordpress.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, scss/_wordpress.scss */
body {
  margin: 0;
}

/* line 54, scss/_wordpress.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 69, scss/_wordpress.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 77, scss/_wordpress.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 82, scss/_wordpress.scss */
[hidden],
template {
  display: none;
}

/* line 87, scss/_wordpress.scss */
a {
  background-color: transparent;
}

/* line 91, scss/_wordpress.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 95, scss/_wordpress.scss */
b,
strong {
  font-weight: 700;
}

/* line 100, scss/_wordpress.scss */
small {
  font-size: 80%;
}

/* line 104, scss/_wordpress.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, scss/_wordpress.scss */
sup {
  top: -0.5em;
}

/* line 116, scss/_wordpress.scss */
sub {
  bottom: -0.25em;
}

/* line 120, scss/_wordpress.scss */
img {
  border: 0;
}

/* line 124, scss/_wordpress.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 128, scss/_wordpress.scss */
figure {
  margin: 0;
}

/* line 132, scss/_wordpress.scss */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 138, scss/_wordpress.scss */
code,
kbd,
pre,
samp {
  font-size: 1em;
}

/* line 145, scss/_wordpress.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 155, scss/_wordpress.scss */
select {
  text-transform: none;
}

/* line 159, scss/_wordpress.scss */
button {
  overflow: visible;
}

/* line 163, scss/_wordpress.scss */
button,
input,
select,
textarea {
  max-width: 100%;
}

/* line 170, scss/_wordpress.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 178, scss/_wordpress.scss */
button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5;
}

/* line 184, scss/_wordpress.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 190, scss/_wordpress.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0;
}

/* line 199, scss/_wordpress.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 204, scss/_wordpress.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 208, scss/_wordpress.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 213, scss/_wordpress.scss */
fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em;
}

/* line 220, scss/_wordpress.scss */
fieldset > :last-child {
  margin-bottom: 0;
}

/* line 224, scss/_wordpress.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 229, scss/_wordpress.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 234, scss/_wordpress.scss */
optgroup {
  font-weight: bold;
}

/**
 * 2.0 - Genericons
 */
/* line 243, scss/_wordpress.scss */
.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
}

/**
 * 3.0 - Typography
 */
/* line 274, scss/_wordpress.scss */
body,
button,
input,
select,
textarea {
  color: #1a1a1a;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

/* line 286, scss/_wordpress.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 298, scss/_wordpress.scss */
p {
  margin: 0 0 1.75em;
}

/* line 302, scss/_wordpress.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 309, scss/_wordpress.scss */
blockquote {
  border: 0 solid #1a1a1a;
  border-left-width: 4px;
  color: #686868;
  font-size: 19px;
  font-size: 1.1875rem;
  font-style: italic;
  line-height: 1.4736842105;
  margin: 0 0 1.4736842105em;
  padding: 0 0 0 1.263157895em;
}

/* line 321, scss/_wordpress.scss */
blockquote,
q {
  quotes: none;
}

/* line 326, scss/_wordpress.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 333, scss/_wordpress.scss */
blockquote p {
  margin-bottom: 1.4736842105em;
}

/* line 337, scss/_wordpress.scss */
blockquote cite,
blockquote small {
  color: #1a1a1a;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

/* line 346, scss/_wordpress.scss */
blockquote cite:before,
blockquote small:before {
  content: "\2014\00a0";
}

/* line 351, scss/_wordpress.scss */
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

/* line 357, scss/_wordpress.scss */
blockquote strong,
blockquote b {
  font-weight: 400;
}

/* line 362, scss/_wordpress.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/* line 366, scss/_wordpress.scss */
address {
  font-style: italic;
  margin: 0 0 1.75em;
}

/* line 371, scss/_wordpress.scss */
code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
}

/* line 380, scss/_wordpress.scss */
pre {
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 394, scss/_wordpress.scss */
code {
  background-color: #d1d1d1;
  padding: 0.125em 0.25em;
}

/* line 399, scss/_wordpress.scss */
abbr,
acronym {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help;
}

/* line 405, scss/_wordpress.scss */
mark,
ins {
  background: #007acc;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none;
}

/* line 413, scss/_wordpress.scss */
big {
  font-size: 125%;
}

/**
 * 4.0 - Elements
 */
/* line 422, scss/_wordpress.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 428, scss/_wordpress.scss */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 437, scss/_wordpress.scss */
body {
  background: #1a1a1a;
  /* Fallback for when there is no custom background color defined. */
}

/* line 442, scss/_wordpress.scss */
hr {
  background-color: #d1d1d1;
  border: 0;
  height: 1px;
  margin: 0 0 1.75em;
}

/* line 449, scss/_wordpress.scss */
ul,
ol {
  margin: 0 0 1.75em 1.25em;
  padding: 0;
}

/* line 455, scss/_wordpress.scss */
ul {
  list-style: disc;
}

/* line 459, scss/_wordpress.scss */
ol {
  list-style: decimal;
  margin-left: 1.5em;
}

/* line 464, scss/_wordpress.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/* line 469, scss/_wordpress.scss */
dl {
  margin: 0 0 1.75em;
}

/* line 473, scss/_wordpress.scss */
dt {
  font-weight: 700;
}

/* line 477, scss/_wordpress.scss */
dd {
  margin: 0 0 1.75em;
}

/* line 481, scss/_wordpress.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
}

/* line 489, scss/_wordpress.scss */
del {
  opacity: 0.8;
}

/* line 493, scss/_wordpress.scss */
table,
th,
td {
  border: 1px solid #d1d1d1;
}

/* line 499, scss/_wordpress.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

/* line 509, scss/_wordpress.scss */
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* line 516, scss/_wordpress.scss */
th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

/* line 521, scss/_wordpress.scss */
td {
  border-width: 0 1px 1px 0;
}

/* line 525, scss/_wordpress.scss */
th,
td {
  padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
/* line 531, scss/_wordpress.scss */
::-webkit-input-placeholder {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* line 536, scss/_wordpress.scss */
:-moz-placeholder {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* line 541, scss/_wordpress.scss */
::-moz-placeholder {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

/* line 548, scss/_wordpress.scss */
:-ms-input-placeholder {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/**
 * 5.0 - Forms
 */
/* line 558, scss/_wordpress.scss */
input {
  line-height: normal;
}

/* line 562, scss/_wordpress.scss */
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  background: #1a1a1a;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
}

/* line 586, scss/_wordpress.scss */
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #007acc;
}

/* line 597, scss/_wordpress.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: -4px;
}

/* line 605, scss/_wordpress.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  padding: 0.625em 0.4375em;
  width: 100%;
}

/* line 622, scss/_wordpress.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: #fff;
  border-color: #007acc;
  color: #1a1a1a;
  outline: 0;
}

/* line 636, scss/_wordpress.scss */
.post-password-form {
  margin-bottom: 1.75em;
}

/* line 640, scss/_wordpress.scss */
.post-password-form label {
  color: #686868;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 1.75em;
  text-transform: uppercase;
}

/* line 652, scss/_wordpress.scss */
.post-password-form input[type="password"] {
  margin-top: 0.4375em;
}

/* line 656, scss/_wordpress.scss */
.post-password-form > :last-child {
  margin-bottom: 0;
}

/* line 660, scss/_wordpress.scss */
.search-form {
  position: relative;
}

/* line 664, scss/_wordpress.scss */
input[type="search"].search-field {
  border-radius: 2px 0 0 2px;
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px);
}

/* line 670, scss/_wordpress.scss */
.search-submit:before {
  content: "\f400";
  font-size: 24px;
  left: 2px;
  line-height: 42px;
  position: relative;
  width: 40px;
}

/* line 679, scss/_wordpress.scss */
.search-submit {
  border-radius: 0 2px 2px 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
}

/**
 * 6.0 - Navigation
 */
/**
 * 6.1 - Links
 */
/* line 699, scss/_wordpress.scss */
a {
  color: #007acc;
  text-decoration: none;
}

/* line 704, scss/_wordpress.scss */
a:hover,
a:focus,
a:active {
  color: #686868;
}

/* line 710, scss/_wordpress.scss */
a:focus {
  outline: thin dotted;
}

/* line 714, scss/_wordpress.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 719, scss/_wordpress.scss */
.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

/* line 731, scss/_wordpress.scss */
.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus {
  box-shadow: none;
}

/**
 * 6.2 - Menus
 */
/* line 753, scss/_wordpress.scss */
.site-header-menu {
  display: none;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin: 0.875em 0;
}

/* line 761, scss/_wordpress.scss */
.site-header-menu.toggled-on,
.no-js .site-header-menu {
  display: block;
}

/* line 766, scss/_wordpress.scss */
.main-navigation {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* line 770, scss/_wordpress.scss */
.site-footer .main-navigation {
  margin-bottom: 1.75em;
}

/* line 774, scss/_wordpress.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
}

/* line 779, scss/_wordpress.scss */
.main-navigation li {
  border-top: 1px solid #d1d1d1;
  position: relative;
}

/* line 784, scss/_wordpress.scss */
.main-navigation a {
  color: #1a1a1a;
  display: block;
  line-height: 1.3125;
  outline-offset: -1px;
  padding: 0.84375em 0;
}

/* line 792, scss/_wordpress.scss */
.main-navigation a:hover,
.main-navigation a:focus {
  color: #007acc;
}

/* line 797, scss/_wordpress.scss */
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
  color: #ff8080;
}

/* line 802, scss/_wordpress.scss */
.main-navigation ul ul {
  display: none;
  margin-left: 0.875em;
}

/* line 807, scss/_wordpress.scss */
.no-js .main-navigation ul ul {
  display: block;
}

/* line 811, scss/_wordpress.scss */
.main-navigation ul .toggled-on {
  display: block;
}

/* line 815, scss/_wordpress.scss */
.main-navigation .primary-menu {
  border-bottom: 1px solid #d1d1d1;
}

/* line 819, scss/_wordpress.scss */
.main-navigation .menu-item-has-children > a {
  margin-right: 56px;
}

/* line 823, scss/_wordpress.scss */
.dropdown-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #1a1a1a;
  content: "";
  height: 48px;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: none;
  top: 0;
  width: 48px;
}

/* line 838, scss/_wordpress.scss */
.dropdown-toggle:after {
  border: 0 solid #d1d1d1;
  border-left-width: 1px;
  content: "\f431";
  font-size: 24px;
  left: 1px;
  position: relative;
  width: 48px;
}

/* line 848, scss/_wordpress.scss */
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: transparent;
  color: #007acc;
}

/* line 854, scss/_wordpress.scss */
.dropdown-toggle:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

/* line 859, scss/_wordpress.scss */
.dropdown-toggle:focus:after {
  border-color: transparent;
}

/* line 863, scss/_wordpress.scss */
.dropdown-toggle.toggled-on:after {
  content: "\f432";
}

/* line 867, scss/_wordpress.scss */
.site-header .main-navigation + .social-navigation {
  margin-top: 1.75em;
}

/* line 871, scss/_wordpress.scss */
.site-footer .social-navigation {
  margin-bottom: 1.75em;
}

/* line 875, scss/_wordpress.scss */
.social-navigation ul {
  list-style: none;
  margin: 0 0 -0.4375em;
}

/* line 880, scss/_wordpress.scss */
.social-navigation li {
  float: left;
  margin: 0 0.4375em 0.4375em 0;
}

/* line 885, scss/_wordpress.scss */
.social-navigation a {
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  color: #1a1a1a;
  display: block;
  height: 35px;
  position: relative;
  width: 35px;
}

/* line 895, scss/_wordpress.scss */
.social-navigation a:before {
  content: "\f415";
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 33px;
}

/* line 903, scss/_wordpress.scss */
.social-navigation a:hover:before,
.social-navigation a:focus:before {
  color: #007acc;
}

/* line 908, scss/_wordpress.scss */
.social-navigation a[href*="codepen.io"]:before {
  content: "\f216";
}

/* line 912, scss/_wordpress.scss */
.social-navigation a[href*="digg.com"]:before {
  content: "\f221";
}

/* line 916, scss/_wordpress.scss */
.social-navigation a[href*="dribbble.com"]:before {
  content: "\f201";
}

/* line 920, scss/_wordpress.scss */
.social-navigation a[href*="dropbox.com"]:before {
  content: "\f225";
}

/* line 924, scss/_wordpress.scss */
.social-navigation a[href*="facebook.com"]:before {
  content: "\f203";
}

/* line 928, scss/_wordpress.scss */
.social-navigation a[href*="flickr.com"]:before {
  content: "\f211";
}

/* line 932, scss/_wordpress.scss */
.social-navigation a[href*="foursquare.com"]:before {
  content: "\f226";
}

/* line 936, scss/_wordpress.scss */
.social-navigation a[href*="plus.google.com"]:before {
  content: "\f206";
}

/* line 940, scss/_wordpress.scss */
.social-navigation a[href*="github.com"]:before {
  content: "\f200";
}

/* line 944, scss/_wordpress.scss */
.social-navigation a[href*="instagram.com"]:before {
  content: "\f215";
}

/* line 948, scss/_wordpress.scss */
.social-navigation a[href*="linkedin.com"]:before {
  content: "\f208";
}

/* line 952, scss/_wordpress.scss */
.social-navigation a[href*="path.com"]:before {
  content: "\f219";
}

/* line 956, scss/_wordpress.scss */
.social-navigation a[href*="pinterest.com"]:before {
  content: "\f210";
}

/* line 960, scss/_wordpress.scss */
.social-navigation a[href*="getpocket.com"]:before {
  content: "\f224";
}

/* line 964, scss/_wordpress.scss */
.social-navigation a[href*="polldaddy.com"]:before {
  content: "\f217";
}

/* line 968, scss/_wordpress.scss */
.social-navigation a[href*="reddit.com"]:before {
  content: "\f222";
}

/* line 972, scss/_wordpress.scss */
.social-navigation a[href*="skype.com"]:before {
  content: "\f220";
}

/* line 976, scss/_wordpress.scss */
.social-navigation a[href*="stumbleupon.com"]:before {
  content: "\f223";
}

/* line 980, scss/_wordpress.scss */
.social-navigation a[href*="tumblr.com"]:before {
  content: "\f214";
}

/* line 984, scss/_wordpress.scss */
.social-navigation a[href*="twitter.com"]:before {
  content: "\f202";
}

/* line 988, scss/_wordpress.scss */
.social-navigation a[href*="vimeo.com"]:before {
  content: "\f212";
}

/* line 992, scss/_wordpress.scss */
.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
  content: "\f205";
}

/* line 997, scss/_wordpress.scss */
.social-navigation a[href*="youtube.com"]:before {
  content: "\f213";
}

/* line 1001, scss/_wordpress.scss */
.social-navigation a[href^="mailto:"]:before {
  content: "\f410";
}

/* line 1005, scss/_wordpress.scss */
.social-navigation a[href*="spotify.com"]:before {
  content: "\f515";
}

/* line 1009, scss/_wordpress.scss */
.social-navigation a[href*="twitch.tv"]:before {
  content: "\f516";
}

/* line 1013, scss/_wordpress.scss */
.social-navigation a[href$="/feed/"]:before {
  content: "\f413";
}

/* line 1017, scss/_wordpress.scss */
.post-navigation {
  clear: both;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  margin: 0 7.6923% 3.75rem;
}

/* line 1023, scss/_wordpress.scss */
.post-navigation a {
  color: #1a1a1a;
  display: block;
  padding: 1.75em 0;
}

/* line 1029, scss/_wordpress.scss */
.post-navigation span {
  display: block;
}

/* line 1033, scss/_wordpress.scss */
.post-navigation .meta-nav {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 0.5384615385em;
  text-transform: uppercase;
}

/* line 1043, scss/_wordpress.scss */
.post-navigation .post-title {
  display: inline;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.2173913043;
  text-rendering: optimizeLegibility;
}

/* line 1053, scss/_wordpress.scss */
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
  color: #007acc;
}

/* line 1061, scss/_wordpress.scss */
.pagination {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 19px;
  font-size: 1.1875rem;
  margin: 0 7.6923% 2.947368421em;
  min-height: 56px;
  position: relative;
}

/* line 1070, scss/_wordpress.scss */
.pagination:before,
.pagination:after {
  background-color: #1a1a1a;
  content: "";
  height: 52px;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 0;
}

/* line 1081, scss/_wordpress.scss */
.pagination:before {
  right: 0;
}

/* line 1085, scss/_wordpress.scss */
.pagination:after {
  right: 54px;
}

/* line 1089, scss/_wordpress.scss */
.pagination a:hover,
.pagination a:focus {
  color: #1a1a1a;
}

/* line 1094, scss/_wordpress.scss */
.pagination .nav-links {
  padding-right: 106px;
  position: relative;
}

/* line 1099, scss/_wordpress.scss */
.pagination .nav-links:before,
.pagination .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}

/* line 1110, scss/_wordpress.scss */
.pagination .nav-links:before {
  content: "\f429";
  right: -1px;
}

/* line 1115, scss/_wordpress.scss */
.pagination .nav-links:after {
  content: "\f430";
  right: 55px;
}

/* reset screen-reader-text */
/* line 1121, scss/_wordpress.scss */
.pagination .current .screen-reader-text {
  position: static !important;
}

/* line 1125, scss/_wordpress.scss */
.pagination .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}

/* line 1134, scss/_wordpress.scss */
.pagination .current {
  display: inline-block;
  font-weight: 700;
}

/* line 1139, scss/_wordpress.scss */
.pagination .prev,
.pagination .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}

/* line 1154, scss/_wordpress.scss */
.pagination .prev:before,
.pagination .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}

/* line 1163, scss/_wordpress.scss */
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
  background-color: #007acc;
  color: #fff;
}

/* line 1171, scss/_wordpress.scss */
.pagination .prev:focus,
.pagination .next:focus {
  outline: 0;
}

/* line 1176, scss/_wordpress.scss */
.pagination .prev {
  right: 54px;
}

/* line 1180, scss/_wordpress.scss */
.pagination .prev:before {
  content: "\f430";
  left: -1px;
  top: -1px;
}

/* line 1186, scss/_wordpress.scss */
.pagination .next {
  right: 0;
}

/* line 1190, scss/_wordpress.scss */
.pagination .next:before {
  content: "\f429";
  right: -1px;
  top: -1px;
}

/* line 1196, scss/_wordpress.scss */
.image-navigation,
.comment-navigation {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  margin: 0 7.6923% 2.1538461538em;
  padding: 1.0769230769em 0;
}

/* line 1209, scss/_wordpress.scss */
.comment-navigation {
  margin-right: 0;
  margin-left: 0;
}

/* line 1214, scss/_wordpress.scss */
.comments-title + .comment-navigation {
  border-bottom: 0;
  margin-bottom: 0;
}

/* line 1219, scss/_wordpress.scss */
.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
  display: inline-block;
}

/* line 1226, scss/_wordpress.scss */
.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
  content: "\002f";
  display: inline-block;
  opacity: 0.7;
  padding: 0 0.538461538em;
}

/**
 * 7.0 - Accessibility
 */
/* Text meant only for screen readers */
/* line 1240, scss/_wordpress.scss */
.says,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
/* line 1252, scss/_wordpress.scss */
.site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

/* line 1268, scss/_wordpress.scss */
.logged-in .site .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

/* line 1273, scss/_wordpress.scss */
.site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

/**
 * 8.0 - Alignments
 */
/* line 1287, scss/_wordpress.scss */
.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

/* line 1292, scss/_wordpress.scss */
.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

/* line 1297, scss/_wordpress.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

/* line 1303, scss/_wordpress.scss */
blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

/* line 1307, scss/_wordpress.scss */
blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

/* line 1311, scss/_wordpress.scss */
blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}

/**
 * 9.0 - Clearings
 */
/* line 1320, scss/_wordpress.scss */
.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
  content: "";
  display: table;
}

/* line 1346, scss/_wordpress.scss */
.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
  clear: both;
}

/**
 * 10.0 - Widgets
 */
/* line 1365, scss/_wordpress.scss */
.widget {
  margin-bottom: 3.75rem;
  padding-top: 1.75em;
}

/* line 1370, scss/_wordpress.scss */
.widget-area > :last-child,
.widget > :last-child {
  margin-bottom: 0;
}

/* line 1375, scss/_wordpress.scss */
.widget .widget-title {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.046875em;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  text-transform: uppercase;
}

/* line 1385, scss/_wordpress.scss */
.widget .widget-title:empty {
  margin-bottom: 0;
}

/* line 1389, scss/_wordpress.scss */
.widget-title a {
  color: #1a1a1a;
}

/* Calendar widget */
/* line 1394, scss/_wordpress.scss */
.widget.widget_calendar table {
  margin: 0;
}

/* line 1398, scss/_wordpress.scss */
.widget_calendar td,
.widget_calendar th {
  line-height: 2.5625;
  padding: 0;
  text-align: center;
}

/* line 1405, scss/_wordpress.scss */
.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 1.75em;
}

/* line 1410, scss/_wordpress.scss */
.widget_calendar tbody a {
  background-color: #007acc;
  color: #fff;
  display: block;
  font-weight: 700;
}

/* line 1417, scss/_wordpress.scss */
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #686868;
  color: #fff;
}

/* Recent Posts widget */
/* line 1424, scss/_wordpress.scss */
.widget_recent_entries .post-date {
  color: #686868;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.615384615;
  margin-bottom: 0.538461538em;
}

/* line 1434, scss/_wordpress.scss */
.widget_recent_entries li:last-child .post-date {
  margin-bottom: 0;
}

/* RSS widget */
/* line 1439, scss/_wordpress.scss */
.widget_rss .rsswidget img {
  margin-top: -0.375em;
}

/* line 1443, scss/_wordpress.scss */
.widget_rss .rss-date,
.widget_rss cite {
  color: #686868;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: normal;
  line-height: 1.615384615;
  margin-bottom: 0.538461538em;
}

/* line 1455, scss/_wordpress.scss */
.widget_rss .rssSummary:last-child {
  margin-bottom: 2.1538461538em;
}

/* line 1459, scss/_wordpress.scss */
.widget_rss li:last-child :last-child {
  margin-bottom: 0;
}

/* Tag Cloud widget */
/* line 1464, scss/_wordpress.scss */
.tagcloud a {
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  display: inline-block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  line-height: 1;
  margin: 0 0.1875em 0.4375em 0;
  padding: 0.5625em 0.4375em 0.5em;
}

/* line 1474, scss/_wordpress.scss */
.tagcloud a:hover,
.tagcloud a:focus {
  border-color: #007acc;
  color: #007acc;
  outline: 0;
}

/**
 * 11.0 - Content
 */
/* line 1486, scss/_wordpress.scss */
.site {
  background-color: #f5f0ea;
}

/* line 1490, scss/_wordpress.scss */
.site-inner {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  /* line 1490, scss/_wordpress.scss */
  .site-inner {
    max-width: 1190px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 1490, scss/_wordpress.scss */
  .site-inner {
    max-width: 1320px;
  }
}

/* line 1506, scss/_wordpress.scss */
.site-content {
  word-wrap: break-word;
}

/* Do not show the outline on the skip link target. */
/* line 1511, scss/_wordpress.scss */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/* line 1515, scss/_wordpress.scss */
.site-main {
  margin-bottom: 3.75rem;
}

/* line 1519, scss/_wordpress.scss */
.site-main > :last-child {
  margin-bottom: 0;
}

/**
 * 11.1 - Header
 */
/* line 1528, scss/_wordpress.scss */
.site-header {
  padding: 0.9375rem;
}

/* line 1532, scss/_wordpress.scss */
.site-header-main {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1544, scss/_wordpress.scss */
.site-branding {
  margin: 0.875em auto 0.875em 0;
  /* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}

/* line 1552, scss/_wordpress.scss */
.custom-logo-link {
  display: block;
}

/* line 1556, scss/_wordpress.scss */
.custom-logo {
  max-width: 180px;
}

/* line 1560, scss/_wordpress.scss */
.site-title {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.2173913043;
  margin: 0;
}

/* line 1569, scss/_wordpress.scss */
.site-branding .site-title a {
  color: #1a1a1a;
}

/* line 1573, scss/_wordpress.scss */
.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
  color: #007acc;
}

/* line 1578, scss/_wordpress.scss */
.wp-custom-logo .site-title {
  margin-top: 0.608695652em;
}

/* line 1582, scss/_wordpress.scss */
.site-description {
  color: #686868;
  display: none;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.0769230769;
  margin: 0.538461538em 0 0;
}

/* line 1592, scss/_wordpress.scss */
.menu-toggle {
  background-color: transparent;
  border: 1px solid #d1d1d1;
  color: #1a1a1a;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 1.076923077em 0;
  padding: 0.769230769em;
}

/* line 1602, scss/_wordpress.scss */
.no-js .menu-toggle {
  display: none;
}

/* line 1606, scss/_wordpress.scss */
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: transparent;
  border-color: #007acc;
  color: #007acc;
}

/* line 1613, scss/_wordpress.scss */
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}

/* line 1621, scss/_wordpress.scss */
.menu-toggle:focus {
  outline: 0;
}

/* line 1625, scss/_wordpress.scss */
.menu-toggle.toggled-on:focus {
  outline: thin dotted;
}

/* line 1629, scss/_wordpress.scss */
.header-image {
  clear: both;
  margin: 0.875em 0;
}

/* line 1634, scss/_wordpress.scss */
.header-image a {
  display: block;
}

/* line 1638, scss/_wordpress.scss */
.header-image a:hover img,
.header-image a:focus img {
  opacity: 0.85;
}

/**
 * 11.2 - Posts and pages
 */
/* line 1647, scss/_wordpress.scss */
.site-main > article {
  margin-bottom: 3.75rem;
  position: relative;
}
/* line 1650, scss/_wordpress.scss */
.site-main > article.with_childrens {
  margin-bottom: 0.9375rem;
}

/* line 1655, scss/_wordpress.scss */
.entry-title {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
}

/* line 1661, scss/_wordpress.scss */
.entry-title a {
  color: #1a1a1a;
}

/* line 1665, scss/_wordpress.scss */
.entry-title a:hover,
.entry-title a:focus {
  color: #007acc;
}

/* line 1670, scss/_wordpress.scss */
.post-thumbnail {
  display: block;
  margin: 0 7.6923% 1.75em;
}

/* line 1675, scss/_wordpress.scss */
.post-thumbnail img {
  display: block;
}

/* line 1679, scss/_wordpress.scss */
.no-sidebar .post-thumbnail img {
  margin: 0 auto;
}

/* line 1683, scss/_wordpress.scss */
a.post-thumbnail:hover,
a.post-thumbnail:focus {
  opacity: 0.85;
}

/* line 1688, scss/_wordpress.scss */
.entry-content,
.entry-summary {
  border-color: #d1d1d1;
}

/* line 1693, scss/_wordpress.scss */
.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.25;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* line 1704, scss/_wordpress.scss */
.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.2173913043;
  margin-top: 2.4347826087em;
  margin-bottom: 1.2173913043em;
}

/* line 1715, scss/_wordpress.scss */
.entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.1052631579;
  margin-top: 2.9473684211em;
  margin-bottom: 1.4736842105em;
}

/* line 1726, scss/_wordpress.scss */
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  margin-top: 3.75rem;
  margin-bottom: 1.75em;
}

/* line 1745, scss/_wordpress.scss */
.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
  letter-spacing: 0.140625em;
  text-transform: uppercase;
}

/* line 1753, scss/_wordpress.scss */
.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
  font-style: italic;
}

/* line 1760, scss/_wordpress.scss */
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
  font-weight: 900;
}

/* line 1787, scss/_wordpress.scss */
.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.textwidget h1:first-child,
.textwidget h2:first-child,
.textwidget h3:first-child,
.textwidget h4:first-child,
.textwidget h5:first-child,
.textwidget h6:first-child {
  margin-top: 0;
}

/* line 1814, scss/_wordpress.scss */
.post-navigation .post-title,
.entry-title,
.comments-title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* line 1823, scss/_wordpress.scss */
body:not(.search-results) .entry-summary {
  color: #686868;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.4736842105;
  margin-bottom: 1.4736842105em;
}

/* line 1831, scss/_wordpress.scss */
body:not(.search-results) .entry-header + .entry-summary {
  margin-top: -0.736842105em;
}

/* line 1835, scss/_wordpress.scss */
body:not(.search-results) .entry-summary p,
body:not(.search-results) .entry-summary address,
body:not(.search-results) .entry-summary hr,
body:not(.search-results) .entry-summary ul,
body:not(.search-results) .entry-summary ol,
body:not(.search-results) .entry-summary dl,
body:not(.search-results) .entry-summary dd,
body:not(.search-results) .entry-summary table {
  margin-bottom: 1.4736842105em;
}

/* line 1846, scss/_wordpress.scss */
body:not(.search-results) .entry-summary li > ul,
body:not(.search-results) .entry-summary li > ol {
  margin-bottom: 0;
}

/* line 1851, scss/_wordpress.scss */
body:not(.search-results) .entry-summary th,
body:not(.search-results) .entry-summary td {
  padding: 0.3684210526em;
}

/* line 1856, scss/_wordpress.scss */
body:not(.search-results) .entry-summary fieldset {
  margin-bottom: 1.4736842105em;
  padding: 0.3684210526em;
}

/* line 1861, scss/_wordpress.scss */
body:not(.search-results) .entry-summary blockquote {
  border-color: currentColor;
}

/* line 1865, scss/_wordpress.scss */
body:not(.search-results) .entry-summary blockquote > :last-child {
  margin-bottom: 0;
}

/* line 1869, scss/_wordpress.scss */
body:not(.search-results) .entry-summary .alignleft {
  margin: 0.2631578947em 1.4736842105em 1.4736842105em 0;
}

/* line 1873, scss/_wordpress.scss */
body:not(.search-results) .entry-summary .alignright {
  margin: 0.2631578947em 0 1.4736842105em 1.4736842105em;
}

/* line 1877, scss/_wordpress.scss */
body:not(.search-results) .entry-summary .aligncenter {
  margin-bottom: 1.4736842105em;
}

/* line 1881, scss/_wordpress.scss */
.entry-content > :last-child,
.entry-summary > :last-child,
body:not(.search-results) .entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.textwidget > :last-child {
  margin-bottom: 0;
}

/* line 1890, scss/_wordpress.scss */
.more-link {
  white-space: nowrap;
}

/* line 1894, scss/_wordpress.scss */
.author-info {
  border-color: inherit;
  border-style: solid;
  border-width: 1px 0 1px 0;
  clear: both;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

/* line 1903, scss/_wordpress.scss */
.author-avatar .avatar {
  float: left;
  height: 42px;
  margin: 0 1.75em 1.75em 0;
  width: 42px;
}

/* line 1910, scss/_wordpress.scss */
.author-description > :last-child {
  margin-bottom: 0;
}

/* line 1914, scss/_wordpress.scss */
.entry-content .author-title {
  clear: none;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.75;
  margin: 0;
}

/* line 1923, scss/_wordpress.scss */
.author-bio {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  margin-bottom: 1.6153846154em;
  overflow: hidden;
}

/* line 1932, scss/_wordpress.scss */
.author-link {
  white-space: nowrap;
}

/* line 1936, scss/_wordpress.scss */
.entry-footer {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  margin-top: 2.1538461538em;
}

/* line 1945, scss/_wordpress.scss */
.entry-footer:empty {
  margin: 0;
}

/* line 1949, scss/_wordpress.scss */
.entry-footer a {
  color: #686868;
}

/* line 1953, scss/_wordpress.scss */
.entry-footer a:hover,
.entry-footer a:focus {
  color: #007acc;
}

/* line 1958, scss/_wordpress.scss */
.entry-footer > span:not(:last-child):after {
  content: "\002f";
  display: inline-block;
  opacity: 0.7;
  padding: 0 0.538461538em;
}

/* line 1965, scss/_wordpress.scss */
.entry-footer .avatar {
  height: 0.9375rem;
  margin: -0.1538461538em 0.5384615385em 0 0;
  width: 0.9375rem;
}

/* line 1971, scss/_wordpress.scss */
.sticky-post {
  color: #686868;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 0.5384615385em;
  text-transform: uppercase;
}

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
/* line 1987, scss/_wordpress.scss */
.updated:not(.published) {
  display: none;
}

/* line 1991, scss/_wordpress.scss */
.sticky .posted-on,
.byline {
  display: none;
}

/* line 1996, scss/_wordpress.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 2001, scss/_wordpress.scss */
.page-header {
  margin: 0 7.6923% 3.75rem;
  padding-top: 1.75em;
}

/* line 2006, scss/_wordpress.scss */
body.error404 .page-header,
body.search-no-results .page-header {
  border-top: 0;
  padding-top: 0;
}

/* line 2012, scss/_wordpress.scss */
.page-title {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.2173913043;
}

/* line 2019, scss/_wordpress.scss */
.taxonomy-description {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
}

/* line 2026, scss/_wordpress.scss */
.taxonomy-description p {
  margin: 0.5384615385em 0 1.6153846154em;
}

/* line 2030, scss/_wordpress.scss */
.taxonomy-description > :last-child {
  margin-bottom: 0;
}

/* line 2034, scss/_wordpress.scss */
.page-links {
  clear: both;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  margin: 0 0 1.75em;
}

/* line 2040, scss/_wordpress.scss */
.page-links a,
.page-links > span {
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  height: 1.8461538462em;
  line-height: 1.6923076923em;
  margin-right: 0.3076923077em;
  text-align: center;
  width: 1.8461538462em;
}

/* line 2054, scss/_wordpress.scss */
.page-links a {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}

/* line 2060, scss/_wordpress.scss */
.page-links a:hover,
.page-links a:focus {
  background-color: #007acc;
  border-color: transparent;
  color: #fff;
}

/* line 2067, scss/_wordpress.scss */
.page-links > .page-links-title {
  border: 0;
  color: #1a1a1a;
  height: auto;
  margin: 0;
  padding-right: 0.6153846154em;
  width: auto;
}

/* line 2076, scss/_wordpress.scss */
.entry-attachment {
  margin-bottom: 1.75em;
}

/* line 2080, scss/_wordpress.scss */
.entry-caption {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 1.0769230769em;
}

/* line 2089, scss/_wordpress.scss */
.entry-caption > :last-child {
  margin-bottom: 0;
}

/* line 2093, scss/_wordpress.scss */
.content-bottom-widgets {
  margin: 0 7.6923%;
}

/* line 2097, scss/_wordpress.scss */
.content-bottom-widgets .widget-area {
  margin-bottom: 3.75rem;
}

/**
 * 11.3 - Post Formats
 */
/* line 2107, scss/_wordpress.scss */
.blog .format-status .entry-title,
.archive .format-status .entry-title {
  display: none;
}

/**
 * 11.4 - Comments
 */
/* line 2117, scss/_wordpress.scss */
.comments-area {
  margin: 0 7.6923% 3.75rem;
}

/* line 2121, scss/_wordpress.scss */
.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1.75em;
}

/* line 2126, scss/_wordpress.scss */
.comments-title,
.comment-reply-title {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.3125;
  padding-top: 1.217391304em;
}

/* line 2136, scss/_wordpress.scss */
.comments-title {
  margin-bottom: 1.217391304em;
}

/* line 2140, scss/_wordpress.scss */
.comment-list {
  list-style: none;
  margin: 0;
}

/* line 2145, scss/_wordpress.scss */
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #d1d1d1;
  padding: 1.75em 0;
}

/* line 2152, scss/_wordpress.scss */
.comment-list .children {
  list-style: none;
  margin: 0;
}

/* line 2157, scss/_wordpress.scss */
.comment-list .children > li {
  padding-left: 0.875em;
}

/* line 2161, scss/_wordpress.scss */
.comment-author {
  color: #1a1a1a;
  margin-bottom: 0.4375em;
}

/* line 2166, scss/_wordpress.scss */
.comment-author .avatar {
  float: left;
  height: 28px;
  margin-right: 0.875em;
  position: relative;
  width: 28px;
}

/* line 2174, scss/_wordpress.scss */
.bypostauthor > article .fn:after {
  content: "\f304";
  left: 3px;
  position: relative;
  top: 5px;
}

/* line 2181, scss/_wordpress.scss */
.comment-metadata,
.pingback .edit-link {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
}

/* line 2190, scss/_wordpress.scss */
.comment-metadata {
  margin-bottom: 2.1538461538em;
}

/* line 2194, scss/_wordpress.scss */
.comment-metadata a,
.pingback .comment-edit-link {
  color: #686868;
}

/* line 2199, scss/_wordpress.scss */
.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
  color: #007acc;
}

/* line 2206, scss/_wordpress.scss */
.comment-metadata .edit-link,
.pingback .edit-link {
  display: inline-block;
}

/* line 2211, scss/_wordpress.scss */
.comment-metadata .edit-link:before,
.pingback .edit-link:before {
  content: "\002f";
  display: inline-block;
  opacity: 0.7;
  padding: 0 0.538461538em;
}

/* line 2219, scss/_wordpress.scss */
.comment-content ul,
.comment-content ol {
  margin: 0 0 1.5em 1.25em;
}

/* line 2224, scss/_wordpress.scss */
.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

/* line 2229, scss/_wordpress.scss */
.comment-reply-link {
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #007acc;
  display: inline-block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  margin-top: 2.1538461538em;
  padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

/* line 2242, scss/_wordpress.scss */
.comment-reply-link:hover,
.comment-reply-link:focus {
  border-color: currentColor;
  color: #007acc;
  outline: 0;
}

/* line 2249, scss/_wordpress.scss */
.comment-form {
  padding-top: 1.75em;
}

/* line 2253, scss/_wordpress.scss */
.comment-form label {
  color: #686868;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 0.5384615385em;
  text-transform: uppercase;
}

/* line 2265, scss/_wordpress.scss */
.comment-list .comment-form {
  padding-bottom: 1.75em;
}

/* line 2269, scss/_wordpress.scss */
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  margin-bottom: 2.1538461538em;
}

/* line 2280, scss/_wordpress.scss */
.no-comments {
  border-top: 1px solid #d1d1d1;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin: 0;
  padding-top: 1.75em;
}

/* line 2288, scss/_wordpress.scss */
.comment-navigation + .no-comments {
  border-top: 0;
  padding-top: 0;
}

/* line 2293, scss/_wordpress.scss */
.form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

/* line 2297, scss/_wordpress.scss */
.form-submit {
  margin-bottom: 0;
}

/* line 2301, scss/_wordpress.scss */
.required {
  color: #007acc;
  font-family: "PT Serif", serif;
}

/* line 2306, scss/_wordpress.scss */
.comment-reply-title small {
  font-size: 100%;
}

/* line 2310, scss/_wordpress.scss */
.comment-reply-title small a {
  border: 0;
  float: right;
  height: 32px;
  overflow: hidden;
  width: 26px;
}

/* line 2318, scss/_wordpress.scss */
.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
  color: #1a1a1a;
}

/* line 2323, scss/_wordpress.scss */
.comment-reply-title small a:before {
  content: "\f405";
  font-size: 32px;
  position: relative;
  top: -5px;
}

/**
 * 11.5 - Sidebar
 */
/* line 2335, scss/_wordpress.scss */
.sidebar {
  padding: 0.9375rem;
  margin-bottom: 3.75rem;
}

/**
 * 11.6 - Footer
 */
/* line 2345, scss/_wordpress.scss */
.site-footer {
  padding: 0.9375rem;
}

/* line 2349, scss/_wordpress.scss */
.site-info {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
}

/* line 2356, scss/_wordpress.scss */
.site-info a {
  color: #686868;
}

/* line 2360, scss/_wordpress.scss */
.site-info a:hover,
.site-info a:focus {
  color: #007acc;
}

/* line 2365, scss/_wordpress.scss */
.site-footer .site-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

/* line 2371, scss/_wordpress.scss */
.site-footer .site-title:after {
  content: "\002f";
  display: inline-block;
  font-family: Montserrat, sans-serif;
  opacity: 0.7;
}

/**
 * 12.0 - Media
 */
/* line 2383, scss/_wordpress.scss */
.site .avatar {
  border-radius: 50%;
}

/* line 2387, scss/_wordpress.scss */
.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* line 2397, scss/_wordpress.scss */
.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
  display: block;
}

/* Make sure embeds and iframes fit their containers. */
/* line 2405, scss/_wordpress.scss */
embed,
iframe,
object,
video {
  margin-bottom: 1.75em;
  max-width: 100%;
  vertical-align: middle;
}

/* line 2414, scss/_wordpress.scss */
p > embed,
p > iframe,
p > object,
p > video {
  margin-bottom: 0;
}

/* line 2421, scss/_wordpress.scss */
.entry-content .wp-audio-shortcode a,
.entry-content .wp-playlist a {
  box-shadow: none;
}

/* line 2426, scss/_wordpress.scss */
.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
  margin-top: 0;
  margin-bottom: 1.75em;
}

/* line 2433, scss/_wordpress.scss */
.wp-playlist.wp-audio-playlist {
  padding-bottom: 0;
}

/* line 2437, scss/_wordpress.scss */
.wp-playlist .wp-playlist-tracks {
  margin-top: 0;
}

/* line 2441, scss/_wordpress.scss */
.wp-playlist-item .wp-playlist-caption {
  border-bottom: 0;
  padding: 0.7142857143em 0;
}

/* line 2446, scss/_wordpress.scss */
.wp-playlist-item .wp-playlist-item-length {
  top: 0.7142857143em;
}

/**
 * 12.1 - Captions
 */
/* line 2455, scss/_wordpress.scss */
.wp-caption {
  margin-bottom: 1.75em;
  max-width: 100%;
}

/* line 2460, scss/_wordpress.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}

/* line 2465, scss/_wordpress.scss */
.wp-caption .wp-caption-text {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em;
}

/**
 * 12.2 - Galleries
 */
/* line 2479, scss/_wordpress.scss */
.gallery {
  margin: 0 -1.1666667% 1.75em;
}

/* line 2483, scss/_wordpress.scss */
.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 0 1.1400652% 2.2801304%;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 2492, scss/_wordpress.scss */
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

/* line 2496, scss/_wordpress.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 2500, scss/_wordpress.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 2504, scss/_wordpress.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 2508, scss/_wordpress.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 2512, scss/_wordpress.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 2516, scss/_wordpress.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 2520, scss/_wordpress.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 2524, scss/_wordpress.scss */
.gallery-icon img {
  margin: 0 auto;
}

/* line 2528, scss/_wordpress.scss */
.gallery-caption {
  color: #686868;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em;
}

/* line 2538, scss/_wordpress.scss */
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/**
 * 13.0 - Multisites
 */
/* line 2550, scss/_wordpress.scss */
.widecolumn {
  margin-bottom: 3.75rem;
  padding: 0 7.6923%;
}

/* line 2555, scss/_wordpress.scss */
.widecolumn .mu_register {
  width: auto;
}

/* line 2559, scss/_wordpress.scss */
.widecolumn .mu_register .mu_alert {
  background: transparent;
  border-color: #d1d1d1;
  color: inherit;
  margin-bottom: 3.75rem;
  padding: 1.75em;
}

/* line 2567, scss/_wordpress.scss */
.widecolumn form,
.widecolumn .mu_register form {
  margin-top: 0;
}

/* line 2572, scss/_wordpress.scss */
.widecolumn h2 {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 900;
  line-height: 1.2173913043;
  margin-bottom: 1.2173913043em;
}

/* line 2580, scss/_wordpress.scss */
.widecolumn p {
  margin: 1.75em 0;
}

/* line 2584, scss/_wordpress.scss */
.widecolumn p + h2 {
  margin-top: 2.4347826087em;
}

/* line 2588, scss/_wordpress.scss */
.widecolumn label,
.widecolumn .mu_register label {
  color: #686868;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  text-transform: uppercase;
}

/* line 2600, scss/_wordpress.scss */
.widecolumn .mu_register label {
  margin: 2.1538461538em 0.7692307692em 0.5384615385em 0;
}

/* line 2604, scss/_wordpress.scss */
.widecolumn .mu_register label strong {
  font-weight: 400;
}

/* line 2608, scss/_wordpress.scss */
.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
}

/* line 2618, scss/_wordpress.scss */
.widecolumn .mu_register #blogname {
  margin: 0;
}

/* line 2622, scss/_wordpress.scss */
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
  margin: 0 0 0.375em;
}

/* line 2628, scss/_wordpress.scss */
.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  width: auto;
}

/* line 2636, scss/_wordpress.scss */
.widecolumn .mu_register .prefix_address,
.widecolumn .mu_register .suffix_address {
  font-size: inherit;
}

/* line 2641, scss/_wordpress.scss */
.widecolumn .mu_register > :last-child,
.widecolumn form > :last-child {
  margin-bottom: 0;
}

/**
 * 14.0 - Media Queries
 */
/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
  /* line 2671, scss/_wordpress.scss */
  .site {
    margin: 0;
  }

  /* line 2675, scss/_wordpress.scss */
  .site-main {
    margin-bottom: 5.25em;
  }

  /* line 2679, scss/_wordpress.scss */
  .site-header {
    padding: 0.9375rem;
  }

  /* line 2683, scss/_wordpress.scss */
  .site-branding {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }

  /* line 2688, scss/_wordpress.scss */
  .custom-logo {
    max-width: 210px;
  }

  /* line 2692, scss/_wordpress.scss */
  .site-title {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
  }

  /* line 2698, scss/_wordpress.scss */
  .wp-custom-logo .site-title {
    margin-top: 0.5em;
  }

  /* line 2702, scss/_wordpress.scss */
  .site-description {
    display: block;
  }

  /* line 2706, scss/_wordpress.scss */
  .menu-toggle {
    font-size: 16px;
    font-size: 1.0rem;
    margin: 0.9375rem 0;
    padding: 0.8125em 0.875em 0.6875em;
  }

  /* line 2713, scss/_wordpress.scss */
  .site-header-menu {
    margin: 0.9375rem 0;
  }

  /* line 2717, scss/_wordpress.scss */
  .site-header .main-navigation + .social-navigation {
    margin-top: 2.625em;
  }

  /* line 2721, scss/_wordpress.scss */
  .header-image {
    margin: 0.9375rem 0;
  }

  /* line 2725, scss/_wordpress.scss */
  .pagination {
    margin: 0 23.0769% 4.42105em 7.6923%;
  }

  /* line 2729, scss/_wordpress.scss */
  .post-navigation {
    margin-bottom: 5.25em;
  }

  /* line 2733, scss/_wordpress.scss */
  .post-navigation .post-title {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
  }

  /* restore screen-reader-text */
  /* line 2740, scss/_wordpress.scss */
  .pagination .current .screen-reader-text {
    position: absolute !important;
  }

  /* line 2744, scss/_wordpress.scss */
  .pagination .page-numbers {
    display: inline-block;
  }

  /* line 2748, scss/_wordpress.scss */
  .site-main > article {
    margin-bottom: 5.25em;
  }

  /* line 2752, scss/_wordpress.scss */
  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    border-width: 4px 0 0 0;
    padding: 0.9473684211em 0 0;
    width: -webkit-calc(50% - 0.736842105em);
    width: calc(50% - 0.736842105em);
  }

  /* line 2760, scss/_wordpress.scss */
  .entry-content blockquote:not(.alignleft):not(.alignright),
  .entry-summary blockquote,
  .comment-content blockquote {
    margin-left: -1.473684211em;
  }

  /* line 2766, scss/_wordpress.scss */
  .entry-content blockquote blockquote:not(.alignleft):not(.alignright),
  .entry-summary blockquote blockquote,
  .comment-content blockquote blockquote {
    margin-left: 0;
  }

  /* line 2772, scss/_wordpress.scss */
  .entry-content ul,
  .entry-summary ul,
  .comment-content ul,
  .entry-content ol,
  .entry-summary ol,
  .comment-content ol {
    margin-left: 0;
  }

  /* line 2781, scss/_wordpress.scss */
  .entry-content li > ul,
  .entry-summary li > ul,
  .comment-content li > ul,
  .entry-content blockquote > ul,
  .entry-summary blockquote > ul,
  .comment-content blockquote > ul {
    margin-left: 1.25em;
  }

  /* line 2790, scss/_wordpress.scss */
  .entry-content li > ol,
  .entry-summary li > ol,
  .comment-content li > ol,
  .entry-content blockquote > ol,
  .entry-summary blockquote > ol,
  .comment-content blockquote > ol {
    margin-left: 1.5em;
  }

  /* line 2799, scss/_wordpress.scss */
  .comment-author {
    margin-bottom: 0;
  }

  /* line 2803, scss/_wordpress.scss */
  .comment-author .avatar {
    height: 42px;
    position: relative;
    top: 0.25em;
    width: 42px;
  }

  /* line 2810, scss/_wordpress.scss */
  .comment-list .children > li {
    padding-left: 1.75em;
  }

  /* line 2814, scss/_wordpress.scss */
  .comment-list + .comment-respond,
  .comment-navigation + .comment-respond {
    padding-top: 3.75rem;
  }

  /* line 2819, scss/_wordpress.scss */
  .comments-area,
  .widget,
  .content-bottom-widgets .widget-area {
    margin-bottom: 5.25em;
  }

  /* line 2830, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary li > ul,
  body:not(.search-results) .entry-summary blockquote > ul {
    margin-left: 1.157894737em;
  }

  /* line 2835, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary li > ol,
  body:not(.search-results) .entry-summary blockquote > ol {
    margin-left: 1.473684211em;
  }
}
/**
 * 14.3 - >= 910px
 */
@media screen and (min-width: 56.875em) {
  /* line 2848, scss/_wordpress.scss */
  .site-header {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  /* line 2853, scss/_wordpress.scss */
  .site-header-main {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 2859, scss/_wordpress.scss */
  .wp-custom-logo .site-header-main {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 2865, scss/_wordpress.scss */
  .site-header-menu {
    display: block;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  /* line 2872, scss/_wordpress.scss */
  .main-navigation {
    margin: 0 -0.875em;
  }

  /* line 2876, scss/_wordpress.scss */
  .main-navigation .primary-menu,
  .main-navigation .primary-menu > li {
    border: 0;
  }

  /* line 2881, scss/_wordpress.scss */
  .main-navigation .primary-menu > li {
    float: left;
  }

  /* line 2885, scss/_wordpress.scss */
  .main-navigation a {
    outline-offset: -8px;
    padding: 0.65625em 0.875em;
    white-space: nowrap;
  }

  /* line 2891, scss/_wordpress.scss */
  .main-navigation li:hover > a,
  .main-navigation li.focus > a {
    color: #007acc;
  }

  /* line 2896, scss/_wordpress.scss */
  .main-navigation ul ul {
    border-bottom: 1px solid #d1d1d1;
    display: block;
    left: -999em;
    margin: 0;
    position: absolute;
    z-index: 99999;
  }

  /* line 2905, scss/_wordpress.scss */
  .main-navigation ul ul ul {
    top: -1px;
  }

  /* line 2909, scss/_wordpress.scss */
  .main-navigation ul ul ul:before,
  .main-navigation ul ul ul:after {
    border: 0;
  }

  /* line 2914, scss/_wordpress.scss */
  .main-navigation ul ul li {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-bottom-width: 0;
  }

  /* line 2920, scss/_wordpress.scss */
  .main-navigation ul ul a {
    white-space: normal;
    width: 12.6875em;
  }

  /* line 2925, scss/_wordpress.scss */
  .main-navigation ul ul:before,
  .main-navigation ul ul:after {
    border-style: solid;
    content: "";
    position: absolute;
  }

  /* line 2932, scss/_wordpress.scss */
  .main-navigation ul ul:before {
    border-color: #d1d1d1 transparent;
    border-width: 0 10px 10px;
    right: 9px;
    top: -9px;
  }

  /* line 2939, scss/_wordpress.scss */
  .main-navigation ul ul:after {
    border-color: #fff transparent;
    border-width: 0 8px 8px;
    right: 11px;
    top: -7px;
  }

  /* line 2946, scss/_wordpress.scss */
  .main-navigation li:hover > ul,
  .main-navigation li.focus > ul {
    left: auto;
    right: 0;
  }

  /* line 2952, scss/_wordpress.scss */
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: auto;
    right: 100%;
  }

  /* line 2958, scss/_wordpress.scss */
  .main-navigation .menu-item-has-children > a {
    margin: 0;
    padding-right: 2.25em;
  }

  /* line 2963, scss/_wordpress.scss */
  .main-navigation .menu-item-has-children > a:after {
    content: "\f431";
    position: absolute;
    right: 0.625em;
    top: 0.8125em;
  }

  /* line 2970, scss/_wordpress.scss */
  .main-navigation ul ul .menu-item-has-children > a {
    padding-right: 2.0625em;
  }

  /* line 2974, scss/_wordpress.scss */
  .main-navigation ul ul .menu-item-has-children > a:after {
    right: 0.5625em;
    top: 0.875em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /* line 2983, scss/_wordpress.scss */
  .dropdown-toggle,
  .main-navigation ul .dropdown-toggle.toggled-on,
  .menu-toggle,
  .site-header .social-navigation,
  .site-footer .main-navigation {
    display: none;
  }

  /* line 2991, scss/_wordpress.scss */
  .site-content {
    padding: 0 0.9375rem;
  }

  /* line 2995, scss/_wordpress.scss */
  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .pagination,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    margin-right: 0;
    margin-left: 0;
  }

  /* line 3015, scss/_wordpress.scss */
  .widget {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
    margin-bottom: 3.230769231em;
    padding-top: 1.615384615em;
  }

  /* line 3023, scss/_wordpress.scss */
  .widget .widget-title {
    margin-bottom: 0.9375rem;
  }

  /* line 3027, scss/_wordpress.scss */
  .widget p,
  .widget address,
  .widget hr,
  .widget ul,
  .widget ol,
  .widget dl,
  .widget dd,
  .widget table {
    margin-bottom: 1.6153846154em;
  }

  /* line 3038, scss/_wordpress.scss */
  .widget li > ul,
  .widget li > ol {
    margin-bottom: 0;
  }

  /* line 3043, scss/_wordpress.scss */
  .widget blockquote {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin-bottom: 0.9375rem;
    padding-left: 1.0625em;
  }

  /* line 3051, scss/_wordpress.scss */
  .widget blockquote cite,
  .widget blockquote small {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
  }

  /* line 3058, scss/_wordpress.scss */
  .widget th,
  .widget td {
    padding: 0.5384615385em;
  }

  /* line 3063, scss/_wordpress.scss */
  .widget pre {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
    margin-bottom: 1.6153846154em;
    padding: 0.5384615385em;
  }

  /* line 3071, scss/_wordpress.scss */
  .widget fieldset {
    margin-bottom: 1.6153846154em;
    padding: 0.5384615385em;
  }

  /* line 3076, scss/_wordpress.scss */
  .widget button,
  .widget input,
  .widget select,
  .widget textarea {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
  }

  /* line 3085, scss/_wordpress.scss */
  .widget button,
  .widget input[type="button"],
  .widget input[type="reset"],
  .widget input[type="submit"] {
    line-height: 1;
    padding: 0.846153846em;
  }

  /* line 3093, scss/_wordpress.scss */
  .widget input[type="text"],
  .widget input[type="email"],
  .widget input[type="url"],
  .widget input[type="password"],
  .widget input[type="search"],
  .widget input[type="tel"],
  .widget input[type="number"],
  .widget textarea {
    padding: 0.4615384615em 0.5384615385em;
  }

  /* line 3104, scss/_wordpress.scss */
  .widget h1 {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.2173913043;
    margin-bottom: 0.9130434783em;
  }

  /* line 3111, scss/_wordpress.scss */
  .widget h2 {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.1052631579;
    margin-bottom: 1.1052631579em;
  }

  /* line 3118, scss/_wordpress.scss */
  .widget h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3125;
    margin-bottom: 0.9375rem;
  }

  /* line 3125, scss/_wordpress.scss */
  .widget h4,
  .widget h5,
  .widget h6 {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
    margin-bottom: 0.9130434783em;
  }

  /* line 3134, scss/_wordpress.scss */
  .widget .alignleft {
    margin: 0.2307692308em 1.6153846154em 1.6153846154em 0;
  }

  /* line 3138, scss/_wordpress.scss */
  .widget .alignright {
    margin: 0.2307692308em 0 1.6153846154em 1.6153846154em;
  }

  /* line 3142, scss/_wordpress.scss */
  .widget .aligncenter {
    margin-bottom: 1.6153846154em;
  }

  /* line 3146, scss/_wordpress.scss */
  .widget_calendar td,
  .widget_calendar th {
    line-height: 2.6923076923;
    padding: 0;
  }

  /* line 3152, scss/_wordpress.scss */
  .widget_rss .rssSummary:last-child {
    margin-bottom: 1.615384615em;
  }

  /* line 3156, scss/_wordpress.scss */
  .widget input[type="search"].search-field {
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px);
  }

  /* line 3161, scss/_wordpress.scss */
  .widget .search-submit:before {
    font-size: 16px;
    left: 1px;
    line-height: 35px;
    width: 34px;
  }

  /* line 3168, scss/_wordpress.scss */
  .widget button.search-submit {
    padding: 0;
    width: 35px;
  }

  /* line 3173, scss/_wordpress.scss */
  .tagcloud a {
    margin: 0 0.2307692308em 0.5384615385em 0;
    padding: 0.5384615385em 0.4615384615em 0.4615384615em;
  }

  /* line 3178, scss/_wordpress.scss */
  .textwidget h1 {
    margin-top: 1.8260869565em;
  }

  /* line 3182, scss/_wordpress.scss */
  .textwidget h2 {
    margin-top: 2.2105263158em;
  }

  /* line 3186, scss/_wordpress.scss */
  .textwidget h3 {
    margin-top: 2.625em;
  }

  /* line 3190, scss/_wordpress.scss */
  .textwidget h4 {
    letter-spacing: 0.153846154em;
  }

  /* line 3194, scss/_wordpress.scss */
  .textwidget h4,
  .textwidget h5,
  .textwidget h6 {
    margin-top: 3.2307692308em;
  }

  /* line 3200, scss/_wordpress.scss */
  .content-bottom-widgets .widget-area:nth-child(1):nth-last-child(2),
  .content-bottom-widgets .widget-area:nth-child(2):nth-last-child(1) {
    float: left;
    margin-right: 7.1428571%;
    width: 46.42857145%;
  }

  /* line 3207, scss/_wordpress.scss */
  .content-bottom-widgets .widget-area:nth-child(2):nth-last-child(1):last-of-type {
    margin-right: 0;
  }

  /* line 3211, scss/_wordpress.scss */
  .site-footer {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.9375rem;
  }

  /* line 3224, scss/_wordpress.scss */
  .site-footer .social-navigation {
    margin: 0;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  /* line 3231, scss/_wordpress.scss */
  .site-info {
    margin: 0.538461538em auto 0.538461538em 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  /* line 3238, scss/_wordpress.scss */
  .no-sidebar .content-area {
    float: none;
    margin: 0;
    width: 100%;
  }

  /* line 3245, scss/_wordpress.scss */
  .widecolumn {
    padding-right: 15%;
    padding-left: 15%;
  }
}
/**
 * 14.4 - >= 985px
 */
@media screen and (min-width: 61.5625em) {
  /* line 3257, scss/_wordpress.scss */
  .site-main {
    margin-bottom: 7.0em;
  }

  /* line 3261, scss/_wordpress.scss */
  .site-header {
    padding: 0.9375rem;
  }

  /* line 3265, scss/_wordpress.scss */
  .site-branding,
  .site-header-menu,
  .header-image {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
  }

  /* line 3271, scss/_wordpress.scss */
  .header-image {
    width: 100%;
  }
  /* line 3273, scss/_wordpress.scss */
  .header-image img {
    width: 100%;
  }

  /* line 3278, scss/_wordpress.scss */
  .custom-logo {
    max-width: 240px;
  }

  /* line 3282, scss/_wordpress.scss */
  .image-navigation {
    margin-bottom: 3.230769231em;
  }

  /* line 3286, scss/_wordpress.scss */
  .post-navigation {
    margin-bottom: 7.0em;
  }

  /* line 3290, scss/_wordpress.scss */
  .pagination {
    margin-bottom: 5.894736842em;
  }

  /* line 3294, scss/_wordpress.scss */
  .widget {
    margin-bottom: 4.307692308em;
  }

  /* line 3298, scss/_wordpress.scss */
  .site-main > article {
    margin-bottom: 7.0em;
  }

  /* line 3306, scss/_wordpress.scss */
  .post-thumbnail {
    margin-bottom: 2.625em;
  }

  /* line 3310, scss/_wordpress.scss */
  .entry-content h1,
  .entry-summary h1,
  .comment-content h1 {
    font-size: 33px;
    font-size: 2.0625rem;
    line-height: 1.2727272727;
    margin-top: 1.696969697em;
    margin-bottom: 0.8484848485em;
  }

  /* line 3320, scss/_wordpress.scss */
  .entry-content h2,
  .entry-summary h2,
  .comment-content h2 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /* line 3330, scss/_wordpress.scss */
  .entry-content h3,
  .entry-summary h3,
  .comment-content h3 {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.2173913043;
    margin-top: 2.4347826087em;
    margin-bottom: 1.2173913043em;
  }

  /* line 3340, scss/_wordpress.scss */
  .entry-content h4,
  .entry-summary h4,
  .entry-intro h4,
  .comment-content h4 {
    letter-spacing: 0.131578947em;
  }

  /* line 3347, scss/_wordpress.scss */
  .entry-content h4,
  .entry-content h5,
  .entry-content h6,
  .entry-summary h4,
  .entry-summary h5,
  .entry-summary h6,
  .comment-content h4,
  .comment-content h5,
  .comment-content h6 {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.1052631579;
    margin-top: 2.9473684211em;
    margin-bottom: 1.473684211em;
  }

  /* line 3363, scss/_wordpress.scss */
  .author-info {
    border-bottom-width: 0;
    padding-bottom: 0;
  }

  /* line 3368, scss/_wordpress.scss */
  .comment-list + .comment-respond,
  .comment-navigation + .comment-respond {
    padding-top: 5.25em;
  }

  /* line 3373, scss/_wordpress.scss */
  .comments-area,
  .sidebar,
  .content-bottom-widgets .widget-area,
  .widecolumn {
    margin-bottom: 7.0em;
  }

  /* line 3380, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary {
    margin-bottom: 2.210526316em;
  }

  /* line 3384, scss/_wordpress.scss */
  body:not(.search-results) .entry-header + .entry-summary {
    margin-top: -1.105263158em;
  }

  /* line 3390, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) .entry-content > blockquote.alignleft.below-entry-meta {
    margin-left: -40%;
    width: -webkit-calc(60% - 1.4736842105em);
    width: calc(60% - 1.4736842105em);
  }

  /* line 3396, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) img.below-entry-meta,
  body:not(.search-results) article:not(.type-page) figure.below-entry-meta {
    clear: both;
    display: block;
    float: none;
    margin-right: 0;
    margin-left: -40%;
    max-width: 140%;
  }

  /* line 3406, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) figure.below-entry-meta img.below-entry-meta,
  body:not(.search-results) article:not(.type-page) table figure.below-entry-meta,
  body:not(.search-results) article:not(.type-page) table img.below-entry-meta {
    margin: 0;
    max-width: 100%;
  }

  /* line 3413, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) .entry-footer {
    float: left;
    margin-top: 0.1538461538em;
    width: 21.42857143%;
  }

  /* line 3419, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:last-child):after {
    display: none;
  }

  /* line 3423, scss/_wordpress.scss */
  .single .byline,
  .full-size-link,
  body:not(.search-results).group-blog .byline,
  body:not(.search-results) .entry-format,
  body:not(.search-results) .cat-links,
  body:not(.search-results) .tags-links,
  body:not(.search-results) article:not(.sticky) .posted-on,
  body:not(.search-results) article:not(.type-page) .comments-link,
  body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
    display: block;
    margin-bottom: 0.5384615385em;
  }

  /* line 3436, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) .entry-footer > span:last-child {
    margin-bottom: 0;
  }

  /* line 3440, scss/_wordpress.scss */
  body:not(.search-results) article:not(.type-page) .entry-footer .avatar {
    display: block;
    height: auto;
    margin: 0 0 0.5384615385em;
    width: 49px;
  }
}
/**
 * 14.5 - >= 1200px
 */
@media screen and (min-width: 75em) {
  /* line 3455, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.5217391304;
    margin-bottom: 1.826086957em;
  }

  /* line 3462, scss/_wordpress.scss */
  body:not(.search-results) .entry-header + .entry-summary {
    margin-top: -0.913043478em;
  }

  /* line 3466, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary p,
  body:not(.search-results) .entry-summary address,
  body:not(.search-results) .entry-summary hr,
  body:not(.search-results) .entry-summary ul,
  body:not(.search-results) .entry-summary ol,
  body:not(.search-results) .entry-summary dl,
  body:not(.search-results) .entry-summary dd,
  body:not(.search-results) .entry-summary table {
    margin-bottom: 1.5217391304em;
  }

  /* line 3477, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary li > ul,
  body:not(.search-results) .entry-summary blockquote > ul {
    margin-left: 0.956521739em;
  }

  /* line 3482, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary li > ol,
  body:not(.search-results) .entry-summary blockquote > ol {
    margin-left: 1.52173913em;
  }

  /* line 3487, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary blockquote {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.5217391304;
    margin: 0 0 1.5217391304em;
    padding-left: 1.347826087em;
  }

  /* line 3495, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary blockquote:not(.alignleft):not(.alignright) {
    margin-left: -1.52173913em;
  }

  /* line 3499, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary blockquote blockquote:not(.alignleft):not(.alignright) {
    margin-left: 0;
  }

  /* line 3503, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary blockquote cite,
  body:not(.search-results) .entry-summary blockquote small {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.8421052632;
  }

  /* line 3510, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary th,
  body:not(.search-results) .entry-summary td {
    padding: 0.3043478261em;
  }

  /* line 3515, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary pre {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1.75em;
    padding: 1.75em;
  }

  /* line 3523, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary fieldset {
    margin-bottom: 1.5217391304em;
    padding: 0.3043478261em;
  }

  /* line 3528, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary h1 {
    margin-top: 2.121212121em;
    margin-bottom: 1.060606061em;
  }

  /* line 3533, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary h2 {
    margin-top: 2.5em;
    margin-bottom: 1.25em;
  }

  /* line 3538, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary h3 {
    margin-top: 3.043478261em;
    margin-bottom: 1.52173913em;
  }

  /* line 3543, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary h4,
  body:not(.search-results) .entry-summary h5,
  body:not(.search-results) .entry-summary h6 {
    margin-top: 3.684210526em;
    margin-bottom: 1.842105263em;
  }

  /* line 3550, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary h1:first-child,
  body:not(.search-results) .entry-summary h2:first-child,
  body:not(.search-results) .entry-summary h3:first-child,
  body:not(.search-results) .entry-summary h4:first-child,
  body:not(.search-results) .entry-summary h5:first-child,
  body:not(.search-results) .entry-summary h6:first-child {
    margin-top: 0;
  }

  /* line 3559, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary .alignleft {
    margin: 0.2608695652em 1.5217391304em 1.5217391304em 0;
  }

  /* line 3563, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary .alignright {
    margin: 0.2608695652em 0 1.5217391304em 1.5217391304em;
  }

  /* line 3567, scss/_wordpress.scss */
  body:not(.search-results) .entry-summary .aligncenter {
    margin-bottom: 1.5217391304em;
  }
}
/**
 * 15.0 - Print
 */
@media print {
  /* line 3578, scss/_wordpress.scss */
  form,
  button,
  input,
  select,
  textarea,
  .navigation,
  .main-navigation,
  .social-navigation,
  .sidebar,
  .content-bottom-widgets,
  .header-image,
  .page-links,
  .edit-link,
  .comment-respond,
  .comment-edit-link,
  .comment-reply-link,
  .comment-metadata .edit-link,
  .pingback .edit-link {
    display: none;
  }

  /* line 3599, scss/_wordpress.scss */
  body,
  blockquote cite,
  blockquote small,
  pre,
  .entry-content h4,
  .entry-content h5,
  .entry-content h6,
  .entry-summary h4,
  .entry-summary h5,
  .entry-summary h6,
  .comment-content h4,
  .comment-content h5,
  .comment-content h6,
  .entry-content .author-title {
    font-size: 12pt;
  }

  /* line 3616, scss/_wordpress.scss */
  blockquote {
    font-size: 14.25pt;
  }

  /* line 3620, scss/_wordpress.scss */
  .site-title,
  .page-title,
  .comments-title,
  .entry-content h2,
  .entry-summary h2,
  .comment-content h2,
  .widecolumn h2 {
    font-size: 17.25pt;
  }

  /* line 3630, scss/_wordpress.scss */
  .site-description {
    display: block;
  }

  /* line 3634, scss/_wordpress.scss */
  .entry-content h1,
  .entry-summary h1,
  .comment-content h1 {
    font-size: 21pt;
  }

  /* line 3640, scss/_wordpress.scss */
  .entry-content h3,
  .entry-summary h3,
  .comment-content h3,
  body:not(.search-results) .entry-summary {
    font-size: 14.25pt;
  }

  /* line 3647, scss/_wordpress.scss */
  .site-description,
  .author-bio,
  .entry-footer,
  .sticky-post,
  .taxonomy-description,
  .entry-caption,
  .comment-metadata,
  .comment-notes,
  .comment-awaiting-moderation,
  .site-info,
  .wp-caption .wp-caption-text,
  .gallery-caption {
    font-size: 9.75pt;
  }

  /* line 3662, scss/_wordpress.scss */
  body,
  .site {
    background: none !important;
    /* Brute force since user agents all print differently. */
  }

  /* line 3667, scss/_wordpress.scss */
  body,
  blockquote cite,
  blockquote small,
  .site-branding .site-title a,
  .entry-title a,
  .comment-author {
    color: #1a1a1a !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3676, scss/_wordpress.scss */
  blockquote,
  .page-header,
  .comments-title {
    border-color: #1a1a1a !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3682, scss/_wordpress.scss */
  blockquote,
  .site-description,
  body:not(.search-results) .entry-summary,
  body:not(.search-results) .entry-summary blockquote,
  .author-bio,
  .entry-footer,
  .entry-footer a,
  .sticky-post,
  .taxonomy-description,
  .entry-caption,
  .comment-author,
  .comment-metadata a,
  .comment-notes,
  .comment-awaiting-moderation,
  .site-info,
  .site-info a,
  .wp-caption .wp-caption-text,
  .gallery-caption {
    color: #686868 !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3703, scss/_wordpress.scss */
  code,
  hr {
    background-color: #d1d1d1 !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3708, scss/_wordpress.scss */
  pre,
  abbr,
  acronym,
  table,
  th,
  td,
  .author-info,
  .comment-list article,
  .comment-list .pingback,
  .comment-list .trackback,
  .no-comments {
    border-color: #d1d1d1 !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3722, scss/_wordpress.scss */
  a {
    color: #007acc !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3726, scss/_wordpress.scss */
  .entry-content a,
  .entry-summary a,
  .taxonomy-description a,
  .comment-content a,
  .pingback .comment-body > a {
    box-shadow: none;
    border-bottom: 1px solid #007acc !important;
    /* Make sure color schemes don't affect to print */
  }

  /* line 3735, scss/_wordpress.scss */
  .site {
    margin: 5%;
  }

  /* line 3739, scss/_wordpress.scss */
  .site-inner {
    max-width: none;
  }

  /* line 3743, scss/_wordpress.scss */
  .site-header {
    padding: 0.9375rem;
  }

  /* line 3747, scss/_wordpress.scss */
  .site-branding {
    margin-top: 0;
    margin-bottom: 1.75em;
  }

  /* line 3752, scss/_wordpress.scss */
  .site-main {
    margin-bottom: 3.75rem;
  }

  /* line 3756, scss/_wordpress.scss */
  .entry-header,
  .entry-footer,
  .page-header,
  .page-content,
  .entry-content,
  .entry-summary,
  .post-thumbnail,
  .comments-area {
    margin-right: 0;
    margin-left: 0;
  }

  /* line 3768, scss/_wordpress.scss */
  .post-thumbnail,
  .site-main > article {
    margin-bottom: 3.75rem;
  }

  /* line 3773, scss/_wordpress.scss */
  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    border-width: 4px 0 0 0;
    padding: 0.9473684211em 0 0;
    width: -webkit-calc(50% - 0.736842105em);
    width: calc(50% - 0.736842105em);
  }

  /* line 3781, scss/_wordpress.scss */
  body:not(.search-results) .entry-header + .entry-summary {
    margin-top: -1.473684211em;
  }

  /* line 3785, scss/_wordpress.scss */
  .site-footer,
  .widecolumn {
    padding: 0;
  }
}
/**
 * jquery-bootstrap-scrolling-tabs
 * @version v0.0.3
 * @link https://github.com/mikejacobson/jquery-bootstrap-scrolling-tabs
 * @author Mike Jacobson <michaeljjacobson1@gmail.com>
 * @license MIT License, http://www.opensource.org/licenses/MIT
 */
/* line 13, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-container * {
  box-sizing: border-box;
}

/* line 17, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-container {
  height: 87px;
}
/* line 19, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-container .tab-content {
  clear: left;
}

/* line 24, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container {
  float: left;
  height: 87px;
  overflow: hidden;
  width: 100%;
}

/* line 31, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container {
  position: relative;
}
/* line 33, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container .tab-content {
  display: none;
}

/* line 38, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow {
  border: 1px solid #dddddd;
  border-top: none;
  color: #428bca;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 87px;
  margin-bottom: -1px;
  padding-left: 2px;
  padding-top: 13px;
  width: 20px;
}
/* line 50, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow:hover {
  background-color: #eeeeee;
}

/* line 55, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container ul.nav-tabs {
  height: 86px;
}
/* line 57, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap;
}

/* line 63, scss/_jquery.scrolling-tabs.scss */
.scrtabs-tab-content-outside-movable-container .nav-tabs {
  display: none;
}

/* line 44, scss/style.scss */
.nav {
  font-size: 0.75rem;
}

/* line 48, scss/style.scss */
.nav-tabs {
  position: relative;
}
/* line 50, scss/style.scss */
.nav-tabs .tabdrop {
  float: right;
}

/* line 55, scss/style.scss */
.breadcrum_and_sisters {
  display: flex;
  width: 100%;
}
/* line 58, scss/style.scss */
.breadcrum_and_sisters #breadcrumb,
.breadcrum_and_sisters #sisters {
  width: 100%;
}
/* line 62, scss/style.scss */
.breadcrum_and_sisters + .header-image {
  margin-top: 0;
}

/* line 67, scss/style.scss */
#breadcrumb {
  background-color: #fff;
  padding: 1.875rem;
  font-size: 0.75rem;
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 67, scss/style.scss */
  #breadcrumb {
    display: block;
    margin-bottom: 0.9375rem;
  }
}
/* line 77, scss/style.scss */
#breadcrumb ul {
  margin: 0;
  list-style-type: none;
}
/* line 81, scss/style.scss */
#breadcrumb li {
  display: inline-block;
  color: #ff8080;
}
/* line 87, scss/style.scss */
.post-type-archive-tribe_events #breadcrumb li:last-child span:before {
  content: "Actividades";
}
/* line 94, scss/style.scss */
#breadcrumb a {
  color: #ff8080;
}
/* line 97, scss/style.scss */
#breadcrumb span {
  color: #3b3d40;
}

/* line 102, scss/style.scss */
#sisters {
  background-color: #fff;
  margin-bottom: 0.9375rem;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 102, scss/style.scss */
  #sisters {
    width: auto;
  }
}
/* line 114, scss/style.scss */
#sisters ul {
  margin: 0;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 129, scss/style.scss */
#sisters li {
  width: 100%;
  text-align: center;
  padding: 1.875rem;
  float: none;
}
/* line 136, scss/style.scss */
#sisters li:not(:last-child) {
  border-right: 1px solid #eeeeee;
}
/* line 140, scss/style.scss */
#sisters a {
  color: #3b3d40;
}
/* line 143, scss/style.scss */
#sisters .current_page_item {
  box-shadow: inset 0px -5px 0px #f0dec8;
}
/* line 145, scss/style.scss */
#sisters .current_page_item a {
  color: #ff8080;
}
@media screen and (min-width: 992px) {
  /* line 150, scss/style.scss */
  #sisters .scrtabs-tab-scroll-arrow {
    display: none;
  }
  /* line 153, scss/style.scss */
  #sisters .scrtabs-tabs-fixed-container {
    width: 100% !important;
  }
}

/* line 161, scss/style.scss */
body.page-child .article-content {
  background: white;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  /* line 161, scss/style.scss */
  body.page-child .article-content {
    display: flex;
  }
}
/* line 169, scss/style.scss */
body.page-child .entry-header,
body.page-child .entry-content {
  padding: 1.875rem;
}
@media screen and (min-width: 992px) {
  /* line 169, scss/style.scss */
  body.page-child .entry-header,
  body.page-child .entry-content {
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  /* line 177, scss/style.scss */
  body.page-child .entry-header {
    width: 33.33%;
  }
  /* line 180, scss/style.scss */
  body.page-child .entry-content {
    width: 66.66%;
  }
}
@media screen and (min-width: 768px) {
  /* line 185, scss/style.scss */
  body.page-child .entry-header {
    width: 25%;
  }
  /* line 188, scss/style.scss */
  body.page-child .entry-content {
    width: 75%;
  }
}

/* line 194, scss/style.scss */
.entry-title {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 0.9375rem;
  padding-bottom: 0.9375rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  /* line 194, scss/style.scss */
  .entry-title {
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
/* line 205, scss/style.scss */
.entry-title:after {
  content: "";
  display: block;
  width: 36px;
  height: 5px;
  background-color: #f0dec8;
  bottom: 0px;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 768px) {
  /* line 194, scss/style.scss */
  .entry-title {
    text-align: left;
  }
}

/* line 220, scss/style.scss */
.entry-content {
  font-size: 0.9375rem;
}

/* line 224, scss/style.scss */
.archive-posts {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
/* line 228, scss/style.scss */
.archive-posts > .archive-post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0.9375rem;
}
/* line 233, scss/style.scss */
.archive-posts > .archive-post a {
  text-decoration: none;
  box-shadow: none;
}
/* line 237, scss/style.scss */
.archive-posts > .archive-post .entry-header {
  padding: 0.9375rem;
}
/* line 239, scss/style.scss */
.archive-posts > .archive-post .entry-header a {
  margin: 0;
}
/* line 243, scss/style.scss */
.archive-posts > .archive-post .entry-content {
  padding: 0.9375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/* line 251, scss/style.scss */
.archive-posts > .archive-post .entry-title {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
/* line 256, scss/style.scss */
.archive-posts > .archive-post .entry-title:after {
  content: none;
}
@media screen and (min-width: 480px) {
  /* line 224, scss/style.scss */
  .archive-posts {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
  }
  /* line 268, scss/style.scss */
  .archive-posts > .archive-post {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    margin: 0 10px 20px;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) {
  /* line 277, scss/style.scss */
  .archive-posts > .archive-post {
    width: calc(33.33% - 20px);
  }
}
@media screen and (min-width: 992px) {
  /* line 224, scss/style.scss */
  .archive-posts {
    margin: 0 -10px;
  }
  /* line 283, scss/style.scss */
  .archive-posts > .archive-post {
    width: calc(25% - 20px);
  }
}
@media screen and (min-width: 1280px) {
  /* line 288, scss/style.scss */
  .archive-posts > .archive-post {
    width: calc(20% - 20px);
  }
  /* line 290, scss/style.scss */
  .archive-posts > .archive-post .entry-content {
    height: 50%;
  }
}
