/**
 * jquery-bootstrap-scrolling-tabs
 * @version v0.0.3
 * @link https://github.com/mikejacobson/jquery-bootstrap-scrolling-tabs
 * @author Mike Jacobson <michaeljjacobson1@gmail.com>
 * @license MIT License, http://www.opensource.org/licenses/MIT
 */
$tabs-height: 87px;
$border-bootstrap-lt-gray: 1px solid rgb(221, 221, 221);
$color-bootstrap-blue: rgb(66, 139, 202);
$background-color-bootstrap-gray-hover: rgb(238, 238, 238);

.scrtabs-tab-container * {
  box-sizing: border-box;
}

.scrtabs-tab-container {
  height: $tabs-height;
  .tab-content {
    clear: left;
  }
}

.scrtabs-tabs-fixed-container {
  float: left;
  height: $tabs-height;
  overflow: hidden;
  width: 100%;
}

.scrtabs-tabs-movable-container {
  position: relative;
  .tab-content {
    display: none;
  }
}

.scrtabs-tab-scroll-arrow {
  border: $border-bootstrap-lt-gray;
  border-top: none;
  color: $color-bootstrap-blue;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: $tabs-height;
  margin-bottom: -1px;
  padding-left: 2px;
  padding-top: 13px;
  width: 20px;
  &:hover {
    background-color: $background-color-bootstrap-gray-hover;
  }
}

.scrtabs-tabs-fixed-container ul.nav-tabs {
  height: $tabs-height - 1;
  > li {
    white-space: nowrap;
  }
}

.scrtabs-tab-content-outside-movable-container {
  .nav-tabs {
    display: none;
  }
}
