/* Media queries */
@mixin bp($size){
    @media screen and (min-width: $size) {
        @content
    }
}

@mixin retina_res(){
    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.25) and (max-width: $sm),
    only screen and (min-resolution: 120dpi) and (max-width: $sm){
        @content
    }
}

@mixin bp-width-height($width, $height){
    @media (min-width: $width) and (min-height: $height){
        @content;
    }
}

/* Cross browser transition */
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

/* Cross browser transform */
@mixin transform($args){
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

/* Transform origin (because vendor prefixes) */
@mixin transform-origin($args){
    -webkit-transform-origin: $args;
    -moz-transform-origin: $args;
    -ms-transform-origin: $args;
    transform-origin: $args;
}

/* Cross browser border-radius */
@mixin border-radius($args){
    -webkit-border-radius: $args;
    -moz-border-radius: $args;
    border-radius: $args;
}

/* Mouse and tactil gestures */
@mixin hover{
    &:hover,
    &:focus,
    &.hover{
        @content;
    }
}

// background size crossbrowser
@mixin bg-size($size){
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

/* Size (square by default) */
@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}

// box-shadow crossbrowser
@mixin box-shadow($args){
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}