/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

$font-sans_titles: Montserrat, "Helvetica Neue", sans-serif;
$font-serif: 'PT Serif', serif;

$site-bg: #f5f0ea;
$color-secondary: #ff8080;
$color-soft:#f0dec8;
$color-dark-text:#3b3d40;

$color-border: #eeeeee;

$xs:      480px;
$sm:      768px;
$md:      992px;
$lg:      1280px;
$xl:      1400px;

$gutter: (15/16)+rem;
$gutter-double: (30/16)+rem;

$island-big: (60/16)+rem;



@import "mixins";
@import "wordpress";
@import "jquery.scrolling-tabs.scss";

.nav{
    font-size: (12/16)+rem;
}

.nav-tabs{
    position: relative;
    .tabdrop{
        float: right;
    }
}

.breadcrum_and_sisters{
    display: flex;
    width: 100%;
    #breadcrumb,
    #sisters{
        width: 100%;
    }
    & +.header-image{
        margin-top: 0;
    }
}

#breadcrumb{
    background-color: #fff;
    padding: $gutter-double;
    font-size: (12/16)+rem;
    display: none;
    @include bp($sm){
        display: block;
        margin-bottom: $gutter;
    }

    ul{
        margin: 0;
        list-style-type: none;
    }
    li{
        display: inline-block;
        color:$color-secondary;
        &:last-child{
            span{
                .post-type-archive-tribe_events &{
                    &:before{
                        content: "Actividades";
                    }
                }
            }
        }
    }
    a{
        color:$color-secondary;
    }
    span{
        color:$color-dark-text;
    }
}

#sisters{
    background-color: #fff;
    margin-bottom: $gutter;
    display: block;
    font-family:$font-sans_titles;
    text-transform: uppercase;

    width: 100%;
    @include bp($sm){
        width: auto;
    }
    
    ul{
        margin: 0;
        list-style-type: none;

        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;

        border-bottom: 1px solid $color-border;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    li{
        width: 100%;
        text-align: center;

        padding: $gutter-double;
        float: none;
        //display: inline-block;
        &:not(:last-child){
            border-right:1px solid $color-border;
        }
    }
    a{
        color:$color-dark-text;
    }
    .current_page_item{
        box-shadow: inset 0px -5px 0px $color-soft;
        a{
            color:$color-secondary;
        }
    }
    @include bp($md){
        .scrtabs-tab-scroll-arrow{
                display: none;
        }
        .scrtabs-tabs-fixed-container{
            width: 100% !important;
        }
    }
}


body.page-child{
    .article-content{
        background: white;
        width: 100%;
        overflow: hidden;
        @include bp($sm){
            display: flex;
        }
    }
    .entry-header,
    .entry-content{
        padding: $gutter-double;
        @include bp($md){
            padding: 60px;
        }
    }
    @include bp($sm){
        .entry-header{
            width: 33.33%;
        }
        .entry-content{
            width: 66.66%;
        }
    }
    @include bp($sm){
        .entry-header{
            width: 25%;
        }
        .entry-content{
            width: 75%;
        }
    }
}

.entry-title{
    font-size: (24/16)+rem;

    position: relative;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    @include bp($sm){
        margin-bottom: $gutter-double;
        padding-bottom: $gutter-double;
    }
    line-height: 1.2;
    &:after{
        content: "";
        display: block;
        width: 36px;
        height: 5px;
        background-color: #f0dec8;
        bottom: 0px;
        position: absolute;
        left: 0;
    }

    @include bp($sm){
        text-align: left;
    }
}
.entry-content{
    font-size: (15/16)+rem;
}

.archive-posts{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    >.archive-post{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: $gutter;
        a{
            text-decoration: none;
            box-shadow: none;
        }
        .entry-header{
            padding: $gutter;
            a{
                margin: 0;
            }
        }
        .entry-content{
            padding: $gutter;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
        .entry-title{
            margin: 0;
            padding: 0;
            height: 100%;
            text-align: center;
            &:after{
                content:none;
            }
            .btn{

            }
        }
    }
    @include bp($xs){
        flex-direction: row;
        flex-wrap: wrap;
        background-color: transparent;
        >.archive-post{
            width:calc(50% - 20px);
            display: flex;
            flex-direction: column;
            margin: 0 10px 20px;
            background-color: #fff;
        }
    }
    @include bp($sm){
        >.archive-post{
            width:calc(33.33% - 20px);
        }
    }
    @include bp($md){
        margin: 0 -10px;
        >.archive-post{
            width:calc(25% - 20px);
        }
    }
    @include bp($lg){
        >.archive-post{
            width:calc(20% - 20px);
            .entry-content{
                height: 50%;
            }
        }
    }
}